@import '../init';

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $spacing-regular;
  margin-bottom: $spacing-regular;
}

h1 {
  line-height: $line-height-xsmall;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
}

h2 {
  line-height: $line-height-xsmall;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

img {
  width: 100%;
}