@import '../init';

.bg-light-color {
  background-color: $light-color;
}

.bg-primary-color-800 {
  background-color: $primary-color-800;
}

.bg-primary-color-900 {
  background-color: $primary-color-900;
}

.bg-secondary-color-200 {
  background-color: $secondary-color-200;
}

.color-light {
  color: $light-color;
}