@import '../init';

.full {
  width: 100%;
}

.row {
  position: relative;

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: 4px;
  grid-gap: 0 $spacing-medium;

  width: 100%;
}

.area {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}