.text-transform-uppercase {
  text-transform: uppercase;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-size-small {
  font-size: $font-size-small;
}

.font-size-regular {
  font-size: $font-size-regular;
}

.font-size-xlarge {
  font-size: $font-size-xlarge;
}

.line-height-xsmall {
  line-height: $line-height-xsmall;
}

.line-height-small {
  line-height: $line-height-small;
}