@import '../styles/init';

.container {
  max-width: 640px;
}

.circle {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  border: $spacing-xsmall solid $light-color;
  cursor: pointer;
  transform: rotate(-90deg) translateX(0);
  transition: transform .3s $curve-standard;
  line-height: 1;
  transform-origin: center;

  &:hover {
    transform: rotate(-90deg) translateX(-2.5vh);

    .name {
      transform: translateX(-1rem);
    }
  }

  &.is-active {
    transform: scale(.2) rotate(-90deg) translateX(0);

    &:hover {
      transform: scale(.2) rotate(-90deg) translateX(-2.5vh);
    }
  }
}

.name {
  width: 10rem;
  border-radius: 25%;
  left: $spacing-large*1.25;
  transition: transform .2s $curve-standard;
}

.arrow {
  transform: rotate(180deg);
}