@import '../styles/init';

.header {
  border-radius: 3px 3px 0 0;
}

.date {
  white-space: nowrap;
  border-radius: 3px;
  padding: $spacing-xsmall/2 $spacing-xsmall;
  right: $spacing-regular;
  bottom: 0;
  transform: translateY(50%);
  box-shadow: inset 0 -2px 0 0 $secondary-color-300;
}

.figure {
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  line-height: 0;
}