@import '../styles/init';

.container {
  padding: $spacing-medium;
  opacity: 0;
  transition: opacity .3s $curve-deceleration .2s;

  @include for-tablet-landscape-up {
    padding: $spacing-medium*2;
  }
}

.is-active {
  opacity: 1;
}