@import './styles/init';

.container {
  padding-right: $spacing-large;
  height: 200px;

  &::before {
    position: absolute;
    display: block;
    content: '';
    background-color: $secondary-color-900;
    border: $spacing-small/2 solid $light-color;
    height: $spacing-regular*1.25;
    width: $spacing-regular*1.25;
    right: -$spacing-xsmall*1.25;
    border-radius: 50%;
    top: 50%;
  }
}

.article {
  border-radius: 3px;
  height: 200px;
}